* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: nunito, Arial, Helvetica, sans-serif;
}

.logo {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  height: 50px;
}
nav {
  /* background-color: darksalmon; */
  display: flex;
  justify-content: space-between;
}

a {
  background-color: ;
  display: flex;
  text-decoration: none;
  color: black;
}

.funciones {
  display: flex;
  justify-content: center;
  list-style-type: none;
  /* background-color: blue; */
  text-align: center;
}

button {
  margin-top: 15px;
  margin-right: 10px;
  width: 80px;
  height: 30px;
  border-radius: 8px;
}

li {
  margin-top: 20px;
  margin-right: 10px;
}

div {
  background-color: violet;
  height: 100px;
  margin-top: 10px;
  text-align: center;
}
h1 {
  text-align: center;
  color: slateblue;
}

.perros {
  /* background-color: chartreuse; */
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 20px;
  /* margin-right: 100px;
  margin-left: 100px; */
  flex-direction: column;
  align-items: center;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.mariposa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 200px;
}

main {
  margin-left: 50px;
  margin-right: 50px;
}
